html {
	font-size: 16px;
}
.container {
	/* border: solid 1px black; */
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.container ul {
	list-style: none;
	padding: 0 0 0 1rem;
	color: darkred;
}


.unchecked::before{
	content: "✖";
	font-size: 0.9rem;
	margin-right: 0.4rem;
	display: inline-block;
	transform: scaleX(0.8);
	color: crimson;
}
.checked {
	color: darkgreen;
}
.checked::before {
	content: "✔ ";
	color: green;
	margin-right: 0.2rem;
}

@media (max-width: 56rem) {
	.container {
		width: 80%;
	}
}
@media (max-width: 38rem) {
	.container {
		width: 94%;
	}
}