.ccc {
	color: maroon;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.systable {
	margin: 0 auto;
	width: 38rem;
}
.wrapper {
	border: solid 0 grey;
	display: grid;
	grid-template-columns: 0.5fr 1fr;
}


.wrapper > *:nth-child(odd):not(:nth-last-child(2)) {
	border-style: solid;
	border-color: #404040;
	border-width: 0 1px 1px 0;
}
.wrapper > *:nth-child(even):not(:last-child) {
	border-style: solid;
	border-color: #404040;
	border-width: 0 0 1px 0;
}
.wrapper > *:nth-last-child(2) {
	border-style: solid;
	border-color: #404040;
	border-width: 0 1px 0 0;
}


